<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!-- Configuración API Contabilium -->
    <add key="ApiBaseUrl" value="https://rest.contabilium.com"/>
    <add key="ClientId" value="a.lima@c3sur.com"/>
    <add key="ClientSecret" value="51716788388c4e3281889fbf024285fd"/>
    <!-- Configuración SQL Server -->
    <add key="SqlServer" value="PC"/>
    <add key="SqlDatabase" value="contab"/>
    <add key="SqlUsername" value="contabilium"/>
    <add key="SqlPassword" value="Vcan-0110"/>
    <!-- Configuración aplicación -->
    <add key="DelayBetweenRequests" value="100"/>
    <add key="MaxRetryAttempts" value="3"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=PC;Database=contab;User Id=contabilium;Password=Vcan-0110;Trusted_Connection=false;Encrypt=false;TrustServerCertificate=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
